* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    overflow: scroll;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.top{
    margin: 0px;
    background-position: center;
    /* background-color: 	#74a740; */
    display: flex;
    flex: 1;
    flex-direction: column;
}

.top a{
    text-decoration: none;
    color: #F9FAF8;
}

.top .header{
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    flex:auto;
    justify-content: space-between;

}

.top .right-links{
    display: flex;
    gap: 16px;
}

.top .content{
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.top .text{
    font-weight: bolder;
    font-size: 18px;
    color: #F9FAF8;
}

.top .title.text{
    font-weight: bolder;
    font-size: 48px;
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px;
    padding: 40px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px orange;
    margin-top: 20px;
    font-size: larger;
    gap: 20px;
}

span.track-slot {
    display: none;
}

#tournment-container a{
    color: black;
}

#tournment-container a:hover{
    background-color: orange;
    color: white;
}