<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='/css/opening.css')}}">
</head>
<body>
    <div class="top" style="background-image: url({{url_for('static', filename='media/chess-animated.gif')}})">
        <div class="header">
            <a href="/home">How to Chess!</a>
            <div class="right-links">
                <a href="../leaderboard.html">Leaderboard</a>
                <a href="../tournments.html">Tournments</a>
                <a href="../news.html">News!</a>
            </div>
        </div>

    </div>

    <div class="card">
        <h1>Basic Principles of Chess Openings</h1>
        <p>Given below are some basic ideas to get you started:
            <ol>
                <li>
                    <strong>Develop, Develop, Develop</strong> - The most important thing to do in the opening is to develop pieces. Failing to do so will often give the opponent control of the center, giving them opportunities to build an effective attack, while the undeveloped player will struggle to gain any sort of foothold in the game.
                </li>   
                <li>
                    <strong>Don't Bring The Queen Out Too Early</strong> -Given that the queen is the most powerful piece, many beginners rush to get the queen out as soon as possible so that it can start doing some damage. However, this is almost always a mistake, as the queen's importance means that it needs to be rigorously protected, giving the opponent the chance to attack the queen while simultaneously developing pieces, which can cause the player to spend much of the opening constantly moving their queen about.
                </li>
                <li>
                    <strong>Don't Move The Same Piece Twice</strong> - Following on from the previous point, moving the same piece twice in the opening is often a bad idea as it loses tempo and gives the opponent the chance to get ahead in the race to develop pieces. By moving the same piece twice, the player is wasting valuable moves.
                </li>
                <li>
                    <strong>Avoid Making Too Many Pawn Moves</strong> - Pawns play an important role in many openings, but making too many pawn moves can harm a player's development, as it's vital to activate knights and bishops in the opening phase of the game.
                </li>
                <li>
                    <strong>Develop Towards The Center</strong> - Gaining control of the center is something that players should constantly be thinking about during the opening, as doing so puts them in a fantastic position to win the game if they know how to capitalize. As such, when developing pieces, players should always be considering how they can develop in a way that threatens to gain control of the central squares.

                </li>
                <li>
                    <strong>Castle Early</strong> - Players should ideally be castled before move ten. Castling is a great way to protect the king, and failing to do so can leave it vulnerable to attack once the opponent has a few pieces developed.

                </li>
                <li>
                    <strong>Connect The Rooks</strong> - The final step to a strong opening is often to content the rooks. With the rooks protecting each other across a cleared back rank that has nothing more than a well-protected king on it, the player should be in a good position as the mid-game begins.
                </li>

                Here are some openings to get you started
            </ol>
        </p>
    </div>

    <div class="card" id="scotch-game">
        <h2>Scotch Game</h2>
        <p>
            <h3>1.e4 e5 2.Nf3 Nc6 3.d4</h3>
            The Scotch Game is a centuries-old 1.e4 opening for White and one of the best alternatives to the Ruy Lopez. A good opening for beginners, the Scotch is also an excellent weapon for players of every strength level. One of its most prominent adopters was GM 
            <ul class="toc">
                <a href="#start-sg"><li>Starting Position</li></a>
                    <ul>
                        <a href="#pros-sg"><li>Pros</li></a>
                        <a href="#cons-sg"><li>Cons</li></a>
                    </ul>
                
                <a href="#variations-sg"><li>Variations</li></a>
                    <ul>
                        <a href="#scmidt-sg"><li>Schmidt Variation</li></a>
                        <a href="#classical-sg"><li>Classical Variation</li></a>
                        <a href="#scotch-gambit-sg"><li>Scotch Gambit</li></a>
                        <a href="#goring-sg"><li>Goring Gambit</li></a>
                    </ul>

                <a href=""><li>Famous Games</li></a>
                    <ul>
                        <a href=""><li>Kasparov vs Karpov (1990)</li></a>
                        <a href=""><li>Paulsen vs Winawer (1882)</li></a>
                        <a href=""><li>Poobalasingam vs Radovanovic (2008)</li></a>
                    </ul>
            </ul>

            <div id="start-sg">
                <h3>Starting position</h3>
                <p>The Scotch Game begins after the moves 1.e4 e5 2.Nf3 Nc6 3.d4. White strikes on the center immediately, forcing Black to give up their central e5-pawn. With this move, White virtually guarantees a space advantage. They also avoid the heavy theory of the Ruy Lopez, which is especially advantageous for beginners.</p>
                <img src="{{ url_for('static', filename='media/Scotch-opening.png') }}" alt="">
                <p>The downside to White's third move lies in the fact that it releases the central tension too early. White will also need to invest another tempo if they want to recapture the pawn after Black takes on d4.</p>
                <div id="pros-sg">
                    <h4>Pros</h4>
                    <ul>
                        <li>White virtually guarantees himself a space advantage</li>
                        <li>Black is unable to maintain the e5 point.</li>
                        <li>It avoids the well-analyzed Ruy Lopez.</li>
                    </ul>
                </div>
                <div id="cons-sg">
                    <h4>Cons</h4>
                    <ul>
                        <li>It releases the tension very early.</li>
                        <li>Recapturing the d4 pawn will require a second move by the white knight.</li>
                        <li>The e4 pawn can later come under attack.</li>
                    </ul>
                </div>
            </div>

            <div id="variations-sg" class="variation">
                <h3>Variations</h3>
                The Scotch Game doesn't have as much theory as other 1.e4 openings like the Ruy Lopez. However, it's still a good idea for players to familiarize themselves with its most popular variations before playing it.

                <h4 id="scmidt-sg">Schmidt Variation</h4>
                The Schmidt Variation was GM Anatoly Karpov's main option against the Scotch. It occurs after 1.e4 e5 2.Nf3 Nc6 3.d4 exd4 4.Nxd4 Nf6. From here, the game can take positional or tactical depending on the moves the players choose. In this line, Kasparov introduced the idea of exchanging knights on c6 and following it up with the e4-e5 push, creating an imbalanced and rich position.

                <h4 id="classical-sg">Classical Variation</h4>
                The Classical Variation starts after 1.e4 e5 2.Nf3 Nc6 3.d4 exd4 4.Nxd4 Bc5. Black immediately puts pressure on White's central knight, forcing their opponent to invest a tempo to either protect the knight or add another defender to it.

                <h4 id="scotch-gambit-sg">Scotch Gambit</h4>
                The Scotch Gambit happens after the moves 1.e4 e5 2.Nf3 Nc6 3.d4 exd4 Bc4. White ignores the black pawn on d4 to focus on development. Players who want to try this line must be tactically sharp and prepared to focus on activity rather than material to be successful.

                <h4 id="goring-sg">Goring Gambit</h4>
                The Goring Gambit is an aggressive option for White in the Scotch Gambit. After the moves 1.e4 e5 2.Nf3 Nc6 3.d4 exd4 4.c3, White gambits a pawn to quickly develop the b1-knight.
            </div>

        </p>
    </div>

    <div class="card" id="caro-kann">
        <h2>The Caro Kann</h2>
        <p>
            <h3>1.e4 c6</h3>
            The Caro-Kann Defense is known above all for its solidity. The defining move, 1...c6, is the fourth most popular reply to 1.e4 and nearly twice as common as the number five move. It prepares for 2...d5 without blocking in the light-squared bishop, which is considered the main drawback of its cousin the French Defense (1.e4 e6). A standby for positional players at almost every level, the Caro-Kann was a particular favorite of world champion GM Anatoly Karpov.
            <ul class="toc">
                <a href="#start-ck"><li>Starting Postion</li></a>
                <ul>
                    <a href="#pros-ck"><li>Pros</li></a>
                    <a href="#cons-ck"><li>Cons</li></a>
                </ul>
                <a href="#variations-ck"><li>Variations</li></a>
                <ul>
                    <a href="#classic-ck"><li>Classic</li></a>
                    <a href="#advance-ck"><li>Advance</li></a>
                    <a href="#nh6-ck"><li>4...Nh6</li></a>
                    <a href="#exchange-ck"><li>Exchange</li></a>
                </ul>
                <a href=""><li>Famous Games</li></a>
                <ul>
                    <a href=""><li>Morozevich vs Ivanchuk (2004)</li></a>
                    <a href=""><li>Marshall vs Capablanca (1927)</li></a>
                    <a href=""><li>Nimzowitsch vs Capablanca (1927)</li></a>
                </ul>
            </ul>

            <div id="start-ck">
                <h3>Starting Position</h3>
                The Caro-Kann begins with 1.e4 c6, with most variations continuing 2.d4 d5. Either one of these is usually considered the starting position for the Caro-Kann.
                <img src="{{ url_for('static', filename='media/Caro-Kann.png') }}" alt="">
                <div id="pros-ck">
                    <h4 >Pros</h4>
                    <ul>
                        <li>Sound pawn structure</li>
                        <li>Free light-squared bishop</li>
                        <li>Safe and solid</li>
                    </ul>
                </div>

                <div id="cons-ck">
                    <h4>Cons</h4>
                    <ul>
                        <li>Less space for black</li>
                        <li>Slower development</li>
                        <li>There are many different responses for White</li>
                    </ul>
                </div>

            </div>
            
            <div id="variations-ck" class="variation">
                <h3>Variations</h3>

                <h4 id="classic-ck">Classical Variation</h4>
                3.Nc3 is White's most common choice by a narrow margin over 3.e5. Black almost always captures with 3...dxe4, with White making the obvious reply 4.Nxe4. White can also reach these lines with 3.Nd2 when 3...dxe4 4.Nxe4 transposes.

                <h4 id="nf6-ck">4...Nf6 Variations</h4>
                White can play 5.Ng3 but 5.Nxf6 is the most popular and most challenging move. Black can capture towards the center with 5...gxf6, known as the Bronstein-Larsen Variation (after GMs David Bronstein and Bent Larsen), or away from the center with 5...exf6, the Tartakower Variation (after GM Savielly Tartakower). The former is a more dynamic choice in exchange for a shattered pawn structure. The latter, while obviously also resulting in doubled pawns, is still more solid and less compromised. Both moves are about equally popular.

                <h4 id="advance-ck">Advance Variation</h4>
                White does not have to play Nc3 on move three. The aptly named Advance Variation, 3.e5, is White's sharpest and best-scoring continuation. GM Vladimir Kramnik used it to retain his classical world champion title against GM Peter Leko in the 14th and final game of their 2004 match.
            

                <h4 id="exchange-ck">Exchange Variation</h4>
                When White captures on d5, it is known as the Exchange Variation. After the obvious 3...cxd5--if planning on recapturing with the queen, Black should have just played the Scandinavian (1...d5)--White can either play 4.Bd3 or the much sharper 4.c4
            
            </div>

        </p>
    </div>

    <script src="{{ url_for('static', filename='/js/opening.js') }}"></script>
</body>
</html>