<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='/css/profile.css')}}">
    <title>Profile</title>
</head>
<body>
    <div class="top" style="background-image: url({{url_for('static', filename='media/chess-animated.gif')}})">
        <div class="header">
            <a href="/">How to Chess!</a>
            <div class="right-links">
                <a href="../leaderboard.html">Leaderboard</a>
                <a href="../tournments.html">Tournments</a>
                <a href="../news.html">News!</a>
            </div>
        </div>
        <!-- <h1 style="color: white; align-self:center ">Your Profile</h1> -->
    </div>

    <div class="card">
        <h1>{{current_user.name}} Profile Statistics</h1>
        <div class="plot" style="align-self:center">{{ context | safe }}</div>
        <!-- <h3>Win Loss Percentage</h3>
        <div class="bar" style="background-color: gray; width:100% ; height:20px; display:flex">
            <div class="wins" style="width: 10%; background-color: rgb(20, 165, 20); height:20px;"></div>
            <div class="draws" style="width: 10%; background-color: gray; height:20px;"></div>
            <div class="losses" style="width: 10%; background-color: red; height:20px;"></div>
        </div> -->
    </div>    
    
</body>
</html>